.bg-image {
    background-image: url('documentation/img/redcircuit.jpg');
    height: 200vh;

    /* Flexbox */
    display: flex;
    align-items: center;
}

.container {
    background-color: #F2CE1B;
    padding: 3em;
}

.img-fluid {
    float: left;
    width:  500x;
    height: 400px;
    object-fit: cover;
}

label {
    display: block;
}










